<nav id="bs-navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index", "Test")">Index</a>
        </li>
        <li>
            <a href="@Url.Action("Show", "Test", new {view ="JoinJsFiles"})">JoinJsFiles</a>
        </li>
        <li>
            <a href="@Url.Action("Show", "Test", new {view ="JsonTypes"})">JsonTypes</a>
        </li>
    </ul>
</nav>