@model dynamic
@{
    ViewBag.Title = VirtualPath;
}
@Html.Partial("_TestMenus")
<div class="content">
    <div class="row">
        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-2" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-3" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch" type="checkbox">
                <span class="lbl" data-lbl="CUS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOM"></span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-4" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-5" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-7" type="checkbox" checked="checked">
                <span class="lbl"></span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch btn-rotate" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-4 btn-rotate" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>

        <div class="col-xs-3">
            <label>
                <input name="switch-field-1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox">
                <span class="lbl"></span>
            </label>
        </div>
    </div>
</div>