<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <h2>Auths Layout</h2>
    <hr />
    @RenderBody()
</body>
</html>
