<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container">
        <h2>Setup Layout</h2>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
